<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express project: eatinglist</title>

  {{!-- 載入資源 --}}
  {{!-- 小心 "/" 與 "./" 的區別: "/"由專案根目錄開始; "./" 由路由路靜作無起始點 --}}
  {{!-- 本地前端框架 --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  
  {{!-- 外部GOOGLE字體 --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;500;700&display=swap">

  {{!-- 本地樣式檔案 --}}
  <link rel="stylesheet" href="/style.css">

  
</head>
<body>
  {{!-- 專案內容: 佈局 --}}
  <header>
    <nav class="navbar navbar-light">
      <div class="container">
        <a href="./" class="navbar-brand">
          <img src="/images/loge/loge-photo-1.png"
            width="30" height="30" alt="我的餐廳清單" class="d-inline-block align-top">我的餐廳清單
        </a>
      </div>
    </nav>
  </header>
  <div class="banner background-image"></div>


  {{!-- 局部樣版: Partial templates will be replaced here --}}
  {{{body}}}


  
  {{!-- 載入資源 --}}
  {{!-- 小心 "/" 與 "./" 的區別: "/"由專案根目錄開始; "./" 由路由路靜作無起始點 --}}
  {{!-- 本地bootstrap使用的組件 --}}
  <script src="/javascripts/popper.js"></script>
  {{!-- 本地bootstrap --}}
  <script src="/javascripts/bootstrap.js"></script>
  {{!-- font awesome 資源 --}}
  <script src="https://kit.fontawesome.com/7f5b494958.js" crossorigin="anonymous"></script>
</body>
</html>