/* reset: start */
html {
  /*設定 body 計算模式*/
  box-sizing: border-box;

  /* 設定網頁順暢滑動 */
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 清除瀏覽器預設 viewport */
html,
body {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 0.9;
  list-style: none;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

/* 清除超連結預設底線 */
a {
  text-decoration: none;
}

/* reset: end */
/* 顏色參數化: start */
:root {
  --main-text-color: #212529;
  --main-background-color: #f6f7f8;
  --navbar-brand-text-color: #4592af;
  --navbar-brand-hover-text-color: #226089;

  --banner-background-img: url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');


  --search-bar-outer-background-color: #fce2cf;
  --search-bar-outer-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  --search-bar-inner-text-color: #9b4b4b;
  --btn-major-text-color: #fff;
  --btn-major-background-color: #9b4b4b;
  --placeholder-text-color: #aaaaaa;


  --form-control-focus-shadow: none;
  --form-control-focus-border-color: #ced4da;

  --card-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  --restaurant-category-text-color: #666666;
  --restaurant-show-title-text-color: white;
  --restaurant-show-title-text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* 顏色參數化: end */
/* 專案共用樣式: start */
html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--main-text-color);
  /* background: var(--main-background-color); */
}

 a {
  color: var(--main-text-color);
}

.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 專案共用樣式:end */

/* 制定 header 樣式 */
header {
  overflow: hidden;
}


.navbar .navbar-brand {
  color: var(--navbar-brand-text-color);
}

.navbar .navbar-brand:hover {
  color: var(--navbar-brand-hover-text-color);
}

/* 制定 banner 樣式 */
.banner {
  position: relative;
  z-index: -10;
  margin: -5px;
  height: 360px;
  background-image: var(--banner-background-img);
  filter: blur(3px);
}


/* 撰寫 search-bar 樣式 */
.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background: var(--search-bar-outer-background-color);
  border-radius: 8px;
  padding: 20px 30px;
  margin-top: -60px;
  box-shadow: var(--search-bar-outer-shadow);
  -webkit-box-shadow: var(--search-bar-outer-shadow);
  -moz-box-shadow: var(--search-bar-outer-shadow);
}

.search-bar .search-bar-inner h4{
  color: var(--search-bar-inner-text-color);
}

.search-bar .btn-major {
  color: var(--btn-major-text-color);
  background: var(--btn-major-background-color);
}

.form-control::placeholder {
  color: var(--placeholder-text-color);
  font-size: 0.8rem;
}

.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: var(--form-control-focus-border-color);
}



/* 撰寫圖片集樣式 */
.card {
  box-shadow: var(--card-shadow);
  -webkit-box-shadow:var(--card-shadow);
  -moz-box-shadow:var(--card-shadow);

  width: 100%;
  height: 95%;
  overflow: hidden;
}

.card img {
  display: block;
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.restaurant-category {
  color: var(--restaurant-category-text-color);
  font-size: 0.8rem;
}


/* 導入媒體查詢 */
@media screen and (max-width: 992px){
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}